@charset "utf-8";

header{
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow: hidden;
    text-align: left;
    background-color: white;
    color: rgb(182, 0, 0);
}

header img{
    max-width: 35px;
    max-height: 35px;
}

#imgLupa{
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    right: 0;
    margin: auto 0;
    padding: 5px;
}

header h2{
    margin: auto 0;
}